<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app>
    <div>
        <h2>Даты</h2>
        <p>Date: <input type="date" ng-model="n_date"></p>
        <p>Дата с форматированием: <span ng-bind="(n_date | date)"></span></p>
        <p>Без форматирования: <span ng-bind="n_date"></span></p>
    </div>
    <div ng-init="invitednames='Alex, Andrei, Mark'">
        <h2>"Дорогие Гости"</h2>
        <p>Имена приглашённых людей: <span ng-bind="invitednames"></span></p>
    </div>
    <div>
        <h2>Валюты</h2>
        <p>Количество Валюты <input type="number" ng-model="n_cash"></p>
        <p>Единица Валюты <input type="text" ng-model="n_money"></p>
        <p>Количество Денег: <span ng-bind="(n_cash | currency) + n_money"></span></p>
    </div>
</body>
</html>